* {
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: auto; }

@font-face {
  font-family: "Raleway-SemiBold";
  src: url(../Font/Raleway-SemiBold.ttf); }

@font-face {
  font-family: "Raleway-Medium";
  src: url(../Font/Raleway-Medium.ttf); }

.bodyIndex, .bodySise, .bodyContacto, .bodyNosotros {
  font-family: "Raleway-SemiBold"; }

.border {
  border: 1px solid black; }

#gridIndex {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px 1fr 70px;
  grid-template-columns: 1fr 0% 5%;
  grid-template-areas: "headerIcon headerIcon headerIcon" "headerFather headerFather headerFather" "mainIndex mainIndex asideFather" "footerFather footerFather footerFather"; }

#headerFather {
  grid-area: headerFather;
  background-color: #482A66;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 0; }

#headerIcon {
  grid-area: headerIcon;
  background-color: #E71173;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: center; }

.headerIcon__Img {
  display: flex;
  align-items: center; }

.nav__Links {
  color: white;
  padding: 0.80rem;
  margin: 0 -.25;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  padding-right: 15px;
  font-family: "Raleway-SemiBold"; }

.nav__Links:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 0 #2E0249; }

.listNav {
  list-style: none;
  display: flex; }

.headerLogo__Img {
  align-self: center;
  width: 160px; }

#mainIndex {
  grid-area: mainIndex;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titleIndex titleIndex" "textIndex imgIndex"; }

#titleIndex {
  padding-top: 1rem;
  text-align: center;
  grid-area: titleIndex;
  align-self: flex-start;
  font-size: 2.8rem; }

#textIndex {
  grid-area: textIndex;
  overflow: hidden; }

.textIndex__1 {
  text-align: center;
  align-self: center;
  font-size: 2.8rem;
  padding: 3rem 0rem 3rem 0rem; }

.textIndex__2 {
  padding: 1rem 8.5rem 1rem 8.5rem;
  text-align: justify;
  font-size: 1.3rem;
  font-family: "Raleway-Medium"; }

.textIndex__3 {
  padding: 2rem 8.5rem 1rem 8.5rem;
  text-align: justify;
  font-size: 1.3rem;
  font-family: "Raleway-Medium"; }

.spanText {
  font-weight: bold; }

#imgIndex {
  padding-top: 1rem;
  grid-area: imgIndex;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.imgIndex__1 {
  width: 560px; }

#asideFather {
  grid-area: asideFather;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0; }

.iconSocialNet {
  width: 45px;
  padding-bottom: 4rem; }

#gridNosotros {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px 1fr 70px;
  grid-template-columns: 1fr 0% 5%;
  grid-template-areas: "headerIcon headerIcon headerIcon" "headerFather headerFather headerFather" "mainNosotros mainNosotros asideFather" "footerFather footerFather footerFather"; }

#mainNosotros {
  grid-area: mainNosotros;
  display: grid;
  grid-template-rows: 70px 180px 70px 120px;
  grid-template-columns: 1fr;
  grid-template-areas: "titleNosotros titleNosotros titleNosotros" "textNosotros textNosotros textNosotros" "titleNosotros1 titleNosotros1 titleNosotros1" "textNosotros1 textNosotros1 textNosotros1"; }

#titleNosotros {
  padding: 3.5rem 0rem 3rem 0rem;
  grid-area: titleNosotros;
  overflow: hidden;
  text-align: center;
  align-self: center;
  font-size: 2rem; }

#textNosotros {
  padding: 1rem 4.5rem 1rem 4.5rem;
  grid-area: textNosotros;
  overflow: hidden;
  text-align: justify;
  font-size: 1.2rem;
  font-family: "Raleway-Medium"; }

#titleNosotros1 {
  padding: 0rem 0rem 1rem 0rem;
  grid-area: titleNosotros1;
  overflow: hidden;
  text-align: center;
  align-self: center;
  font-size: 2rem; }

#textNosotros1 {
  padding: 1rem 4.5rem 1rem 4.5rem;
  grid-area: textNosotros1;
  overflow: hidden;
  text-align: justify;
  font-size: 1.2rem;
  font-family: "Raleway-Medium"; }

#footerFather {
  grid-area: footerFather;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; }

.footerText {
  font-size: 0.7rem;
  font-family: "Raleway-Medium"; }

#gridContacto {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px 1fr 80px;
  grid-template-columns: auto 5%;
  grid-template-areas: "headerIcon headerIcon headerIcon" "headerFather headerFather headerFather" "mainContacto mainContacto asideFather" "footerFather footerFather footerFather"; }

#mainContacto {
  padding: 1rem 35rem 1.5rem 6rem;
  grid-area: mainContacto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; }

.mainContactDiv {
  align-self: center;
  flex: 20px;
  padding: 1rem 1rem 1rem 1.5rem;
  background: rgba(87, 10, 87, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  border-radius: 10px; }

.titleForm__1 {
  color: black;
  font-size: 2.5rem;
  padding-bottom: 0.8rem;
  text-align: center; }

.titleForm__2 {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 0.5rem; }

.text__1 {
  color: black;
  padding-bottom: 0.5rem; }

.buttonPr {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #E71173;
  background: #E71173; }

.buttonPr:hover {
  background: #fff;
  color: #16003B; }

.formCont {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name surnames" "mail number"; }

.name input {
  grid-area: name;
  width: 50%;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent; }

.surnames input {
  grid-area: surnames;
  width: 50%;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent; }

.mail input {
  grid-area: mail;
  width: 50%;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent; }

.number input {
  grid-area: number;
  width: 50%;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent; }

::placeholder {
  color: black; }

.prom {
  padding-bottom: 0.9rem; }

#gridSise {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headerIcon headerIcon headerIcon" "headerFather headerFather headerFather" "mainSise mainSise asideSise"; }

#mainSise {
  grid-area: mainSise;
  display: flex;
  background-image: url(../Images/Alumna.png); }

.imgSise {
  overflow: hidden; }

#asideSise {
  padding: 0rem 8rem 0rem 12rem;
  grid-area: asideSise;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.loginBox {
  top: 50%;
  left: 50%;
  height: 300px;
  width: 400px;
  padding: 40px;
  background: rgba(198, 20, 92, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.loginBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center; }

.loginBox .userBox {
  position: relative; }

.loginBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent; }

.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s; }

.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px; }

@media screen and (max-width: 480px) {
  #gridIndex {
    grid-template-columns: auto;
    grid-template-areas: "headerIcon" "headerFather" "mainIndex" "asideFather" "footerFather"; }
  #headerFather {
    grid-area: headerFather;
    background-color: #482A66;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    position: sticky;
    top: 0; }
  .nav__Links {
    font-size: 0.68rem;
    color: white;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0 -.25;
    flex-wrap: wrap;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    padding-right: 15px;
    font-family: "Raleway-SemiBold"; }
  #mainIndex {
    grid-template-columns: auto;
    grid-template-areas: "titleIndex" "textIndex" "imgIndex"; }
  #titleIndex {
    padding-top: 1rem;
    text-align: center;
    flex-wrap: wrap;
    grid-area: titleIndex;
    align-self: flex-start;
    font-size: 2.3rem; }
  #textIndex {
    grid-area: textIndex;
    padding-top: 2rem;
    flex-wrap: wrap; }
  .textIndex__1 {
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    font-size: 2.4rem;
    padding: 3rem 1rem 3rem 1rem; }
  .textIndex__2 {
    padding: 1rem 5rem 1rem 5rem;
    text-align: justify;
    font-size: 1.3rem;
    font-family: "Raleway-Medium"; }
  .textIndex__3 {
    padding: 2rem 5rem 1rem 5rem;
    text-align: justify;
    font-size: 1.3rem;
    font-family: "Raleway-Medium"; }
  .spanText {
    font-weight: bold; }
  #imgIndex {
    padding: 1rem 1rem 1rem 0rem;
    grid-area: imgIndex;
    width: 90%;
    height: 90%;
    overflow: hidden; } }
